---
layout: page
title: Associazioni
description: Le associazioni locali che promuovono Linux ed il software libero e opensource possono associarsi a Italian Linux Society per godere dei servizi riservati ai soci e consolidare il proprio ruolo in una prospettiva di coordinamento nazionale
---

<div class="row">
    <div class="col-md-9">
        <p>Le associazioni locali che promuovono Linux ed il software libero e opensource possono <strong>associarsi a Italian Linux Society</strong> per godere dei servizi riservati ai soci e consolidare il proprio ruolo in una prospettiva di coordinamento nazionale.</p>
        <p>Questa formula è particolarmente consigliata per coloro che vogliono fruire dei servizi ILS (domini .linux.it, spazio web, mailing lists...) per la propria associazione e non solo a titolo individuale, o più in generale a coloro che vogliono contribuire al rafforzamento della rete nazionale di promozione al software libero.</p>
        <p>Chi non ha una associazione, o preferisce farla confluire direttamente in ILS, può optare per la creazione di una Sezione Locale (<a href="/sezionilocali">leggi qui per maggiori dettagli</a>).</p>

        <p>Cosa offre ILS:</p>

        <ul>
            <li><a href="https://ilsmanager.linux.it/ng/register">tutti i servizi già riservati ai soci</a> (incluso l'accesso alla nostra mailing list privata, per prendere parte attiva alle iniziative ILS)</li>
            <li>pubblicazione del <strong>logo</strong> nella <a href="/info#aderenti">pagina dei sostenitori dell'associazione</a> e a rotazione nel footer di tutti i siti del network ILS (<a href="https://www.linux.it/">linux.it</a>, <a href="https://www.linuxday.it/">linuxday.it</a>, <a href="https://www.ils.org/">ils.org</a> e molti altri, per un totale di circa 1000 visitatori al giorno)</li>
            <li>rubrica dedicata nella newsletter periodica (~4500 iscritti) in cui vengono pubblicati gli <strong>eventi locali</strong> dei gruppi aderenti</li>
            <li>contributi economici a sostegno delle attività locali di promozione e diffusione di Linux e del software libero</li>
        </ul>

        <p>La quota di iscrizione ad Italian Linux Society, sia per i soci che per le associazioni, è di <strong>25 euro/anno</strong>.</p>
        <p>Per aderire, o per avere maggiori informazioni su questa opportunità, <strong>scrivici all'indirizzo <a href="mailto:ils-cd@linux.it">ils-cd@linux.it</a></strong>.</p>
    </div>

    <div class="col-md-3">
        <div class="row">
            {{% associations %}}
        </div>
    </div>
</div>
