---
layout: sezionelocale
title: Alessandria
---

<div class="row">
    <div class="col-12 col-md-8">
        <h1 class="mb-3">ILS Alessandria</h1>
        <p>La Sezione Locale ILS di Alessandria raccoglie l'eredità di ALLUG, il precedente LUG cittadino.
    </p>

    </div>
    <div class="col-12 col-md-4">
        <div class="card">
            <div class="card-body">
                    <p>
                        <strong>Web</strong>: <a href="https://alessandria.ils.org/" rel="nofollow">Clicca Qui</a>
                    </p>
                    <p>
                        <strong>Referente</strong>: angelo.pistamiglio@linux.it
                    </p>
            </div>
        </div>
    </div>
</div>
